<p>
  Имя: {{name}}
  <br> <br>
  Прозвище: {{nickname}}
</p>
<p>
  Дата рождения: {{birthDate|date: 'dd.MM.yyyy'}}
</p>
<img src={{this.photoSrc}} alt={{this.name}}>
<p *ngIf="fightEventsList.length != 0; else elseBlock">
  Следующий бой состоится через {{timeBeforeFight}}
</p>
<ng-template #elseBlock>
  <p style="color: cyan">Нет запланированных боев</p>
</ng-template>
<div>
  <label> Дата
    <input [(ngModel)]="this.fightDate" placeholder="YYYY.MM.DD" value="" >
  </label>
  <label> Соперник
    <input [(ngModel)]="this.opponent"  placeholder="Имя" value="">
  </label>
  <button (click)="addFightEvent()">Сохранить</button>
</div>

<p>Предстоящие бои:</p>

<div *ngFor="let record of this.fightEventsList">
  {{record.fightDate|date: 'dd.MM.yyyy'}} -  {{this.name}} vs {{record.opponentName}}
</div>
<div>
  <button *ngIf="fightEventsList.length != 0" (click)="clearEvents()">Очистить</button>
</div>


