<p>Калькулятор для рассчета гонорара</p>
<div>
  {{expression.firstOperand}}{{expression.operation}}{{expression.secondOperand}}<span
  *ngIf="expression.result != null">=</span>{{expression.result}}
</div>
<label> Введите число
  <input [(ngModel)] = "inputValue">
</label>
<div>
  <button (click)="plus()">+</button>
  <button (click)="divide()">/</button>
  <button (click)="multiply()">*</button>
  <button (click)="calculate()">=</button>
</div>

<div *ngFor="let record of history">
  {{record.firstOperand}}{{record.operation}}{{record.secondOperand}}={{record.result}}
</div>
