<p>
  My first experience in Angular
</p>

<label> Выберите страницу:
  <select [(ngModel)]="selectedPage">
    <option *ngFor="let record of pages">{{record}}</option>
  </select>
</label>

<!--<div [ngSwitch]="selectedPage">-->
<!--  <app-my-photo *ngSwitchCase="fighterPageName"></app-my-photo>-->
<!--  <app-calculator *ngSwitchCase="calculatorPageName"></app-calculator>-->
<!--  <app-board *ngSwitchCase="fightBoardName"></app-board>-->
<!--  <app-my-photo *ngSwitchDefault="fighterPageName"></app-my-photo>-->
<!--</div>-->
<app-board></app-board>

