p {
  color: #a1b0a5;
  font-size: 250%;
  text-align: center;
  border-bottom: 3px solid;
}
p:hover {
  color: #8aae94;
  border-bottom: .07em solid;
  text-decoration: none;
}

app-my-photo{
  color: #afeaea;
  font-size: 18px;
}







